# Ignore environment variable files
*.env
*.env.decrypted
*.env.enc
*secret.key

# Ignore learning tables
*Q_table_TTT.pkl

# Ignore GitHub auto-updater
*auto-update-minor.bat

# Ignore build directories
build/
MatsudaAkaiBot.egg-info/